# 기초

In [2]:
3*3;;

- : int = 9

In [5]:
"A"

- : string = "A"

In [27]:
"A" ^ "B"

- : string = "AB"

In [31]:
string_of_int 4;;

- : string = "4"

In [30]:
string_of_int 4 ^ string_of_int 6;;

- : string = "46"

In [37]:
let test = [1;2;3;4];;

val test : int list = [1; 2; 3; 4]

In [48]:
let [test2;test3] = [[1;2];[3;4;5]]

File "[48]", line 1, characters 4-17:
Warning 8: this pattern-matching is not exhaustive.
Here is an example of a case that is not matched:
(_::_::_::_|_::[]|[])

val test2 : int list = [1; 2]
val test3 : int list = [3; 4; 5]

In [62]:
let lst = 
match lst with 
|[l1;l2] -> 
[[1;2];[3;4;5]];;

File "[62]", line 2, characters 0-44:
Warning 8: this pattern-matching is not exhaustive.
Here is an example of a case that is not matched:
(_::_::_::_|_::[]|[])

val lst : int list list = [[1; 2]; [3; 4; 5]]

# Factorial

In [18]:
let rec fact n =
if n = 0 then 1 
else n * (fact (n-1));;

fact 4;;

val fact : int -> int = <fun>

- : int = 24

In [21]:
let rec fact =
fun n -> match n with
| 0 -> 1
| _ -> n * (fact (n-1));;

fact 3;;

val fact : int -> int = <fun>

- : int = 6

In [22]:
let rec fact n =
match n with
| 0 -> 1
| _ -> n * (fact (n-1));;

fact 3;;

val fact : int -> int = <fun>

- : int = 6

# GCD

In [26]:
let rec gcd a b =
if a = 1 || b = 1 then 1
else if a = b then a
else if a < b then gcd a (b-a)
else gcd (a-b) b

val gcd : int -> int -> int = <fun>

In [ ]:
ler rec gcd =
fun a b -> match (a,b) with
| (1,1) -> 1
| (_,_) -> if a=b then a else if a
| ()

## currying

In [25]:
let gcd3 = gcd 3;;

val gcd3 : int -> int = <fun>

In [1]:
let sq x = x * x;;
sq 3;;

val sq : int -> int = <fun>

- : int = 9

In [4]:
let rec fact x = if x <= 1 then 1 else x * fact (x-1);;
fact 5;;

val fact : int -> int = <fun>

- : int = 120

In [6]:
let li = 1::2::3::[];;
5::li;;

val li : int list = [1; 2; 3]

- : int list = [5; 1; 2; 3]

In [1]:
float_of_int 3

- : float = 3.

In [2]:
int_of_float 3.4

- : int = 3

In [3]:
char_of_int 3

- : char = '\003'

In [4]:
string_of_int 3

- : string = "3"