# 고차함수 - 오학주 교수님

In [2]:
let rec map f l =
match l with
| [] -> []
| hd::tl -> (f hd)::(map f tl);;

val map : ('a -> 'b) -> 'a list -> 'b list = <fun>

In [29]:
List.map;;

- : ('a -> 'b) -> 'a list -> 'b list = <fun>

## increase

In [17]:
let rec inc_all l =
match l with
| []->[]
| hd::tl -> (hd+1)::(inc_all tl);;

inc_all [1;2;3];

val inc_all : int list -> int list = <fun>

- : int list = [2; 3; 4]

In [25]:
let inc x = x +1
let inc_all l = map inc l;;

inc 6;;
inc_all [1;2;3];;

val inc : int -> int = <fun>

val inc_all : int list -> int list = <fun>

- : int = 7

- : int list = [2; 3; 4]

In [4]:
let inc_all l = map(fun x -> x + 1) l;;

inc_all [1;2;3;4;5];;

val inc_all : int list -> int list = <fun>

- : int list = [2; 3; 4; 5; 6]

In [5]:
let inc_all = map(fun x -> x + 1);;

inc_all [1;2;3;4;5];;

val inc_all : int list -> int list = <fun>

- : int list = [2; 3; 4; 5; 6]

## square

In [18]:
let rec square_all l =
match l with
|[]->[]
|hd::tl -> (hd*hd*hd)::(cube_all tl);;

square_all [1;2;3;4];;

val square_all : int list -> int list = <fun>

- : int list = [1; 8; 27; 64]

In [24]:
let square x = x * x
let square_all l = map sq l;;

square 5;;
square_all [1;2;3;4];;

val square : int -> int = <fun>

val square_all : int list -> int list = <fun>

- : int = 25

- : int list = [1; 4; 9; 16]

In [14]:
let sq_all l = map (fun x -> x * x) l;;
sq_all [1;2;3];;

val sq_all : int list -> int list = <fun>

- : int list = [1; 4; 9]

## cube

In [27]:
let rec cube_all l= 
match l with
|[]->[]
|hd::tl -> (hd*hd*hd)::(cube_all tl);;

cube_all [1;2;3;4];;

val cube_all : int list -> int list = <fun>

- : int list = [1; 8; 27; 64]

In [28]:
let cube x = x * x * x
let cube_all l = map cube l;;

cube 6;;
cube_all [1;2;3;4];;

val cube : int -> int = <fun>

val cube_all : int list -> int list = <fun>

- : int = 216

- : int list = [1; 8; 27; 64]

In [15]:
let cub_all l = map (fun x -> x * x * x) l;;

cub_all [1;2;3];;

val cub_all : int list -> int list = <fun>

- : int list = [1; 8; 27]

## quiz

In [31]:
map(fun x -> x mod 2 = 0) [1;2;3;4];;

- : bool list = [false; true; false; true]

## List.filter

In [32]:
let rec even l =
match l with
|[]->[]
|hd::tl -> if hd mod 2 = 0 then hd::(even tl) else even tl;;

even [1;2;3;4;5;6];;

val even : int list -> int list = <fun>

- : int list = [2; 4; 6]

In [37]:
let rec greater_than_five l =
match l with
|[]->[]
|hd::tl -> if hd > 5 then hd::(greater_than_five tl) else greater_than_five tl;;

greater_than_five [3;4;5;6;7;8];;

val greater_than_five : int list -> int list = <fun>

- : int list = [6; 7; 8]

In [39]:
let rec filter p l =
match l with
|[] -> []
|hd::tl -> if p hd then hd::(filter p tl) else filter p tl;;

val filter : ('a -> bool) -> 'a list -> 'a list = <fun>

In [41]:
let even = filter (fun x -> x mod 2 = 0);;

even [1;2;3;4;5];;

val even : int list -> int list = <fun>

- : int list = [2; 4]

In [43]:
let gt5 = filter (fun x -> x >5);;

gt5 [1;2;3;4;5;6;7];;

val gt5 : int list -> int list = <fun>

- : int list = [6; 7]

## List.fold_right

### before

In [47]:
let rec sum l =
match l with
| []->0
| hd::tl -> hd + (sum tl);;

sum [1;2;3;4;5];;

val sum : int list -> int = <fun>

- : int = 15

In [49]:
let rec prod l = 
match l with
|[]->1
|hd::tl -> hd*(prod tl);;

prod [1;2;3;4];;

val prod : int list -> int = <fun>

- : int = 24

### after

In [5]:
let rec fold_right f l a =
match l with
| []-> a
| hd::tl -> f hd (fold_right f tl a);;

val fold_right : ('a -> 'b -> 'b) -> 'a list -> 'b -> 'b = <fun>

In [53]:
let sum l = fold_right (fun x y -> x + y) l 0;;

sum [1;2;3;4;5];;

val sum : int list -> int = <fun>

- : int = 15

In [61]:
let sum l = fold_right (+) l 0;;

sum [1;2;3;4];;

val sum : int list -> int = <fun>

- : int = 10

In [60]:
let prod l = fold_right ( * ) l 1 ;;

prod [1;2;3];;

val prod : int list -> int = <fun>

- : int = 6

## fold_left

In [6]:
let rec fold_left f a l =
match l with
|[] -> a
|hd::tl -> fold_left f (f a hd) tl;;

val fold_left : ('a -> 'b -> 'a) -> 'a -> 'b list -> 'a = <fun>

In [75]:
let sum l = fold_left (fun x y -> x + y) 0 l;;
sum [1;2;3;4];;

val sum : int list -> int = <fun>

- : int = 10

In [77]:
let prod = fold_left(fun x y -> x * y) 1;;

prod [1;2;3;4];;

val prod : int list -> int = <fun>

- : int = 24

In [80]:
let sub l = fold_left (fun x y -> x - y ) 100 l ;;

sub [1;2;3];;

val sub : int list -> int = <fun>

- : int = 94

In [81]:
let sub l = fold_right (fun x y -> y -x) l 100;;

sub [1;2;3];;

val sub : int list -> int = <fun>

- : int = 94

## fold_left 는 tail recursion , recursion 이후 할일이 없음. 효율적.
## 직관적으로는 fold_right 가 좋을수는 있음

## length -> fold

In [1]:
let rec length l =
match l with
| []-> 0
| hd::tl -> 1 + length tl;;

val length : 'a list -> int = <fun>

In [7]:
let length l = fold_right (fun x y -> y + 1) l 0;;
length [1;2;3;4;5];;

val length : 'a list -> int = <fun>

- : int = 5

In [9]:
let length l = fold_right (fun _ y -> y + 1) l 0;;
length [1;2;3;4;5];;

val length : 'a list -> int = <fun>

- : int = 5

In [10]:
let legnth l = fold_left (fun x y -> x + 1) 0 l;;
length [1;2;3];;

val legnth : 'a list -> int = <fun>

- : int = 3

In [12]:
List.fold_right (fun _ y -> y + 1) [1;2;3] 0;;

- : int = 3

## reverse -> fold

In [3]:
let rec reverse l =
match l with
| [] -> []
| hd::tl -> (reverse tl) @ [hd]

val reverse : 'a list -> 'a list = <fun>

In [16]:
let reverse l = fold_right (fun e l -> e::l) l [];;
reverse [1;2;3;4];;

let reverse l = fold_right (fun e l -> l@[e]) l [];;
reverse [1;2;3;4];;

val reverse : 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4]

val reverse : 'a list -> 'a list = <fun>

- : int list = [4; 3; 2; 1]

In [17]:
let reverse l = fold_left (fun l e -> e::l) [] l;;
reverse [1;2;3];;

val reverse : 'a list -> 'a list = <fun>

- : int list = [3; 2; 1]

## is_all_pos

In [ ]:
let rec is_all_pos l =
match l with
|[] -> true
| hd::tl -> (hd>0) && (is_all_pos tl)

## map -> fold

loop 대신 fold

In [18]:
let map f l =  fold_right(fun e l -> (f e)::l) l [];;
map (fun x -> x + 1) [1;2;3];;

val map : ('a -> 'b) -> 'a list -> 'b list = <fun>

- : int list = [2; 3; 4]

## filter -> fold

In [ ]:
let filter f l = fold_right (fun e l -> if f e then e::l else l) l [];;

# 연습문제

## 1. sigma

In [21]:
let rec sigma f a b = 
if a = b then f a 
else (f a) + (sigma f (a+1) b);;

sigma(fun x -> x) 1 100;;

val sigma : (int -> int) -> int -> int -> int = <fun>

- : int = 5050

## 2. all

In [24]:
let rec all p l = 
fold_right (fun x y -> (p x)&& y) l true;;

all (fun x -> x mod 2 = 0) [2;4;6;8];;
all (fun x -> x mod 2 = 0) [1;2;4;6;8];;

val all : ('a -> bool) -> 'a list -> bool = <fun>

- : bool = true

- : bool = false

## 3. 정수리스트 -> 숫자

skip

# 합성함수

## 4. double

In [1]:
let double f = fun x -> f(f(x));;

val double : ('a -> 'a) -> 'a -> 'a = <fun>

In [2]:
let inc x = x+1;;
let mul x = x * 2;;

(double inc) 1;;
(double mul) 1;;

val inc : int -> int = <fun>

val mul : int -> int = <fun>

- : int = 3

- : int = 4

In [3]:
double inc 0;;

- : int = 2

In [4]:
double double inc 0;;

- : int = 4

In [5]:
((double double) inc) 0;;

- : int = 4

In [6]:
double double inc 3;;

- : int = 7

In [7]:
mul 2;;

- : int = 4

In [8]:
mul 3;;

- : int = 6

In [9]:
double mul 2;;

- : int = 8

In [10]:
double mul 3;;

- : int = 12

In [11]:
double double mul 2;;

- : int = 32

In [12]:
(double double) mul 2;;

- : int = 32

In [13]:
double (double double) mul 2;;

- : int = 131072

In [14]:
double (double double) mul 2;;

- : int = 131072

In [15]:
(double double) inc 5;;

- : int = 9

In [16]:
((double (double double)) inc) 5;;

- : int = 21

In [22]:
(double double) double inc 5;;

- : int = 21

## 사용자 정의 타입

In [25]:
type days = Mon | Tue | Wed | Thu | Fri | Sat | Sun;;

type days = Mon | Tue | Wed | Thu | Fri | Sat | Sun

In [26]:
Mon;;

- : days = Mon

In [30]:
let nextday d = 
match d with 
| Mon -> Tue | Tue -> Wed | Wed -> Thu | Thu -> Fri | Fri -> Sat 
| Sat -> Sun | Sun -> Mon ;;

nextday Mon;;

val nextday : days -> days = <fun>

- : days = Tue

In [32]:
type shape Rect of int * int ;;

error: compile_error