# 재귀호출 - 오학주 교수님

## 0. LENGTH

In [1]:
(* length *)
let rec length l =
if l= [] then 0 else 1 + length(List.tl l);;

length [];;
length [1;2;3];;

val length : 'a list -> int = <fun>

- : int = 0

- : int = 3

In [2]:
let rec length l =
if l= [] then 0 
else 1 + length(List.tl l);;

length [];;
length [1;2;3];;

val length : 'a list -> int = <fun>

- : int = 0

- : int = 3

In [1]:
let rec length l =
match l with
| [] -> 0 
| _ -> 1 + length(List.tl l);;

length [];;
length [1;2;3];;

val length : 'a list -> int = <fun>

- : int = 0

- : int = 3

In [5]:
let rec length l =
match l with
| [] -> 0 
| hd::tl -> 1 + length tl;;

length [];;
length [1;2;3;4];;

val length : 'a list -> int = <fun>

- : int = 0

- : int = 4

In [19]:
let rec length =
fun l -> match l with
| [] -> 0 
| hd::tl -> 1 + length tl;;

length [];;
length [1;2;3;4];;

val length : 'a list -> int = <fun>

- : int = 0

- : int = 4

## 1. APPEND

In [5]:
let rec append l1 l2 =
match l1 with
| [] -> l2
| hd::tl -> hd::(append tl l2);;

append [1;2;3] [4;5;6;7];;
append [2;4;6] [8;9;10];;

val append : 'a list -> 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4; 5; 6; 7]

- : int list = [2; 4; 6; 8; 9; 10]

In [26]:
let rec append l1 l2 =
match l2 with
| [] -> l1
| hd::tl -> (append l1 tl)@[hd];;

append [1;2;3] [4;5;6;7];;
append [2;4;6] [8;9;10];;

val append : 'a list -> 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 7; 6; 5; 4]

- : int list = [2; 4; 6; 10; 9; 8]

## 2. REVERSE 

base empty

else attach head tail

In [9]:
let rec reverse l =
match l with
| []->[]
| hd::tl -> (reverse tl)@[hd];;

reverse [1;2;3];;

val reverse : 'a list -> 'a list = <fun>

- : int list = [3; 2; 1]

In [25]:
let rec reverse l =
match l with
| []->[]
| hd::tl -> (reverse tl)@[hd];;

reverse [1;2;3];;

val reverse : 'a list -> 'a list = <fun>

- : int list = [3; 2; 1]

In [ ]:
(* 2_1. rev_fast *)

## 3. NTH
n번째 원소 찾기

In [26]:
let rec nth l n = 
match l with
|[]->raise (Failure "list is too short")
|hd::tl -> 
if n = 0 then hd 
else nth tl (n-1) ;;

nth [1;2;3] 0;;
nth [1;2;3] 1;;
nth [1;2;3] 2;;
nth [1;2;3] 3;;

val nth : 'a list -> int -> 'a = <fun>

- : int = 1

- : int = 2

- : int = 3

error: runtime_error

In [28]:
let rec nth l n = 
match l with
|[]->1000
|hd::tl -> if n = 0 then hd else nth tl (n-1) ;;

nth [1;2;3] 0;;
nth [1;2;3] 1;;
nth [1;2;3] 2;;
nth [1;2;3] 3;;

val nth : int list -> int -> int = <fun>

- : int = 1

- : int = 2

- : int = 3

- : int = 1000

## 4. REMOVE_FIRST
일치하는 첫번째 원소 지우기

In [68]:
let rec remove a l = 
match l with
|[]->[]
|hd::tl -> if hd = a then tl else hd::remove a tl;;

remove 2 [1;2;3];;
remove 2 [1;2;3;2];;

val remove : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 3]

- : int list = [1; 3; 2]

In [68]:
let rec remove a l = 
match l with
|[]->[]
|hd::tl -> 
if hd = a then tl 
else hd::remove a tl;;

remove 2 [1;2;3];;
remove 2 [1;2;3;2];;

val remove : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 3]

- : int list = [1; 3; 2]

In [69]:
(* remove_all *)
let rec remove_all a l = 
match l with
|[]->[]
|hd::tl -> if hd = a then remove a tl else hd::remove a tl;;

remove 2 [1;2;3];;
remove 2 [1;2;3;2];;

val remove_all : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 3]

- : int list = [1; 3; 2]

## 5. INSERT
정렬된 리스트에 원소 삽입

In [88]:
let rec insert a l =
match l with
|[]->[]
|hd::tl -> if hd > a then a::hd::tl else hd::insert a tl;;

insert 2 [1;3;4;5];;
insert 5 [1;3;4;6;7;8];;

val insert : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4; 5]

- : int list = [1; 3; 4; 5; 6; 7; 8]

In [85]:
let rec insert a l =
match l with
|[]->[a]
|hd::tl -> if hd > a then a::hd::tl else hd::insert a tl;;

insert 2 [1;3;4;5];;
insert 5 [1;3;4;6;7;8];;

val insert : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4; 5]

- : int list = [1; 3; 4; 5; 6; 7; 8]

## 6. SORT
삽입 정렬

In [86]:
(* ??? *)

let rec sort l = 
match l with
|[]->[]
|hd::tl -> insert hd (sort tl);;

sort [1;3;2;4];;

val sort : 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4]

# Tail Recursion

## 1. RANGE
n이상 m이하의 수로 구성된 리스트 반환

In [29]:
let rec range a b =
if a = b then [b] 
else a::(range (a+1) b);;

range 3 7;;

val range : int -> int -> int list = <fun>

- : int list = [3; 4; 5; 6; 7]

## 2. CONCAT
원소 리스트 병합

In [39]:
let rec concat l =
match l with
| [] -> ""
| [a]-> string_of_int a
| hd::tl -> string_of_int hd ^ (concat tl);;

concat [1;2;3;4;5];;

val concat : int list -> string = <fun>

- : string = "12345"

In [70]:
let rec concat [l1;l2] =
match l2 with
| [],_ -> l2
| hd::tl, _ -> hd::(concat (tl,l2));;

concat [[1;2];[3;4;5]];;

error: compile_error

## 3. ZIPPER
순차적 결합

In [44]:
let rec zipper a b =
match a,b with
| [],[] -> []
| _,[] -> a
| [],_ -> b
| hd1::tl1, hd2::tl2 -> hd1::hd2::(zipper tl1 tl2);;

zipper [1;3;5] [2;4;6];;
zipper [1;3] [2;4;6;8];;
zipper [1;3;5;7] [2;4;8];;

val zipper : 'a list -> 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4; 5; 6]

- : int list = [1; 2; 3; 4; 6; 8]

- : int list = [1; 2; 3; 4; 5; 8; 7]

## 4. UNZIP
튜플 리스트 병합

In [ ]:
let rec unzip : ('a * 'b )list -> 'a list * 'b list
= fun l -> 
match l with 
| []-> ([],[])
| (a,b)::tl -> let(l1,l2) = unzip tl in 
(a::l1, b::l2);;

## 5. DROP
원소 삭제

# 고차함수